{
  "extends": [
    "eslint:recommended",
    "google",
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "local", "args": "none" }]
  }
}
