@font-face {
  font-family: Google;
  src: url(font/ProductSans-Regular.woff);
}

/* color theme */

.red {
  color: #cc0101;
}

.orange-background {
  background-color: #ff9902;
}

.yellow {
  color: #ffd966;
}

.green {
 color: #93c47d;
}

.green-background {
  background-color: #93c47d;
}

.blue {
  color: #6e9eeb;
}

.blue-background {
  background-color: #6e9eeb;
}

/* content */

body {
  font: 100%/1.6 "Google", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  padding: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
}

.header-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  max-width: 700px;
  height: 100px;
}

.header-left img {
  height: 150px;
  flex: 1 1 auto;
}

.header-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 100px;
  margin-left: 10%;
  max-width: 300px;
  width: 25%;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

/* Home Page */
.hero-image {
  background-color: #ffd966;
  height: 90vh;
  min-width: 100%;
}

.hero-text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 450px;
  transform: translate(-50%, -50%);
}

.home-page-content {
  padding: 30px;
}

/* search page */
h1 {
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.search-page-content {
  background-color: rgb(255, 217, 102);
  height: 90vh;
  min-width: 100%;
}

.search-tools {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 425px;
  transform: translate(-50%, -50%);
}

.search-bar-container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.search-bar-container .search-bar {
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  height: 26px;
  margin-top: 8px;
  outline: none;
  overflow: hidden;
  padding: 6px;
  padding-top: 8px;
  padding-right: .5em;
  width: 615px;
}

.search-bar-container button {
  background: rgb(245, 245, 245);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  font-size: 18px;
  height: 40px;
  margin-top: 8px;
  margin-right: 10px;
  padding: 6px 10px;
}

.search-bar-container button:hover {
  background: #ccc;
}

.search-bar-container .tag {
  margin: 2px;
}

/* end of search page */

/* Create Page */
.start-bttn img {
  height: 60px;
}

.form-container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}

input[type=text], textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.form-section {
  display: flex;
}

.form-label {
  flex: 10%;
  padding: 10px;
  white-space: nowrap;
}

.form-input {
  flex: 90%;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .form-section {
    flex-direction: column;
  }

  .form-label,
  .form-input {
    width: auto;
  }
}

.form-buttons {
  margin-top: 50px;
  text-align: center;
}

.form-buttons img {
  height: 50px;
}

.form-buttons a {
  display: inline-block;
  overflow: hidden;  
}

.divider {
  display: inline-block;
  height: auto;
  margin: 25px;
}

/* event lists */
.event-section {
  font-weight: bold;
  margin: 40px 20px 0 20px;
}

.event-section-header {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.no-events {
  align-items: center;
  background-color: #6e9eeb;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding: 20px;
  width: 100%;
}

.event-item {
  align-items: center;
  cursor: pointer;
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
  font-weight: normal;
  justify-content: space-around;
  margin-bottom: 30px;
}

.event-image {
  /* left-hand part of an event list item, solid color or container for image */
  flex: 0 0 auto;
  height: 200px;
  margin: 10px;
  width: 275px;
}

.event-item-info {
  /* right-hand part of an event list item with all text elements */
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.event-item-header {
  /* top part of item info with title, date, location */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.event-item-title {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
}

.event-item-address {
  font-weight: normal;
  font-size: 14px;
}

.event-item-details {
  /* right part of item header with date and location */
  display: flex;
  flex-flow: column nowrap;
  font-size: 14px;
  text-align: right;
}

.event-item-footer {
  /* bottom part of item info with attendee count and tags */
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  justify-content: space-between;
}

.edit-unsave-event {
  color: #6e9eeb;
  cursor: pointer;
  font-weight: bold;
}

.edit-unsave-event a:link, .edit-unsave-event a:visited {
  color: #6e9eeb;
}

.attendee-count {
  font-weight: bold;
}

.tag {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 10px 5px 10px;
}

.tag.invert {
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

/* individual event display */
.event-display-container {
  /* the container for the entire page, minus nav bar */
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 100px);
  width: 100%;
  position: fixed;
}

.event-left-details {
  /* left side, with image, description, and tags */
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
}

.event-display-image {
  background-color: #93c47d;
  flex: 0 0 auto;
  height: 400px;
  width: 100%;
}

.event-left-text {
  /* all text elements below the image */
  padding: 0 15px 30px 15px;
}

.event-display-header {
  /* header row with title and attendee count */
  align-items: center;
  display: flex;    
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 0 15px 0;
}

.event-display-title {
  font-size: 25px;
  font-weight: bold;
}

.event-display-description {
  margin-bottom: 30px;
}

.event-right-details {
	/* right side with date, time, location */
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  font-size: 18px;
  height: 100%;
  justify-content: center;
  margin: 0;
  max-width: 500px;
  min-width: 350px;
  width: 30%;
}

.event-time-location {
  margin: 15px 15px 50px 15px;
}

.save-event, .go-back {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 75px;
  justify-content: center;
  margin: 15px;
  width: 200px;
  
}

.save-event {
  background-color: #ffd966;
}

.go-back {
  background-color: white;
}

/* survey-page */

.survey-background {
  align-items: center;
  background-color: #ffd966;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 700px;
}

#survey-header {
  margin: 30px;
  text-align: center;
}

.survey-select-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.survey-item, .survey-label {
  margin: 30px;
}

.survey-question {
  font-size: 20px;
  margin: 30px;
  text-align: center;
}

.survey-select{
  background-color: transparent;
  border: 5px white solid;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 10px;
  width: 30px;
}

#survey-save {
  align-self: center;
  cursor: pointer;
  margin: 30px;
  object-fit: contain;
  width: 200px;
}

/* tag colors */

.blm {
  background-color: black;
}

.environment {
  background-color: #93c47d;
}

.volunteer {
  background-color: #ffb742;
}

.education {
  background-color: #6e9eeb;
}

.rainbow {
  background-color: #fdfdfd;
  color: black;
}

.blm-text {
  color: black;
}

.environment-text {
  color: #93c47d;
}

.volunteer-text {
  color: #ffb742;
}

.education-text {
  color: #6e9eeb;
}

.blm.invert {
  background-color: white;
  border-color: black;
  color: black;
}

.environment.invert {
  background-color: white;
  color: #93c47d;
}

.volunteer.invert {
  background-color: white;
  color: #ffb742;
}

.education.invert {
  background-color: white;
  color: #6e9eeb;
}

.rainbow.invert {
  color: black;
}
