@font-face {
  font-family: Google;
  src: url(font/ProductSans-Regular.woff);
}

/* color theme */

.red {
  color: #cc0101;
}

.orange-background {
  background-color: #ff9902;
}

.yellow {
  color: #ffd966;
}

.green {
 color: #93c47d;
}

.green-background {
  background-color: #93c47d;
}

.blue {
  color: #6e9eeb;
}

.blue-background {
  background-color: #6e9eeb;
}

html, body {
  font: 100%/1.6 "Google", "Trebuchet MS", Helvetica, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0;
}

.page-content{
  min-height: 84%;
}

footer {
  background-color: #ffd966;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  font-size: 2vw;
  height: 6%;
  justify-content: center;
  margin: 0;
  text-align: center;
  padding: 0;
}

footer h4, footer p {
  margin: 0;
  padding: 0;
}

/* nav bar (MOSTLY UNCHANGED) */

.header {
  display: flex;
  flex-flow: row nowrap;
  height: 10%; /* note: 100px -> 10% */
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
}

.header-left {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 700px;
  height: 100%;
}

.header-left a {
  height: 100%;
}

.header-left img {
  height: 100%;
  flex: 1 1 auto;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 300px;
  width: 25%;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

.nav-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 20px 0 20px;
}

/* event lists */
.event-section {
  font-weight: bold;
  margin: 8vw 3vw 0 3vw;
}

.event-section-header {
  font-size: 6vw;
  font-weight: bold;
  margin: 0 0 5vw 0;
  text-align: center;
}

.event-list-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.no-events {
  align-items: center;
  background-color: #6e9eeb;
  color: white;
  display: flex;
  font-size: 3vw;
  justify-content: center;
  min-height: 7vw;
  width: 100%;
}

.no-events-text {
  margin: 5vw;
}

.event-item {
  align-items: center;
  cursor: pointer;
  height: 60vw;
  display: flex;
  flex-flow: column nowrap;
  font-size: 3.3vw;
  font-weight: normal;
  justify-content: space-around;
  margin-bottom: 15vw;
  width: 90%;
}

.event-image {
  /* top-right-hand part of an event list item, solid color or container for image */
  flex: 0 0 auto;
  height: 30vw;
  margin: 2vw;
  object-fit: contain;
  width: 50%;
}

.event-item-info {
  /* all contents of event item on mobile */
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.event-item-header {
  /* top part of item info with title, date, location, image */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.event-item-details {
  /* top-left part of item header with date and location */
  display: flex;
  flex-flow: column nowrap;
  font-size: 3vw;
  height: 100%;
  justify-content: center;
  text-align: left;
}

.event-item-title {
  font-weight: bold;
  font-size: 4vw;
  margin: 3vw 0;
}

.event-item-footer {
  /* bottom part of item info with attendee count and tags */
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 3vw;
  justify-content: space-between;
  min-height: 15vw;
}

.edit-unsave-event {
  color: #6e9eeb;
  cursor: pointer;
  font-weight: bold;
}

.edit-unsave-event a:link, .edit-unsave-event a:visited {
  color: #6e9eeb;
}

.attendee-count {
  font-weight: bold;
}

.event-item .tags-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}


/* individual event display */

.event-display-container {
  /* the container for the entire page, minus nav bar */
  display: flex;
  flex-flow: column nowrap;
  font-size: 3vw;
  height: 84%;
  width: 100%;
}

.event-left-details {
  /* left (now top) side, with image, description, and tags */
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
}

.event-display-image {
  background-color: #93c47d;
  flex: 0 0 auto;
  height: 55vw;
  width: 100%;
}

.event-left-text {
  /* all text elements below the image */
  margin: 0 2% 0 2%;
}

.event-display-header {
  /* header info with title and attendee count */
  display: flex;    
  flex-flow: column nowrap;
  margin-top: 5%;
}

.event-display-title {
  font-size: 5vw;
  font-weight: bold;
}

.event-display-description {
  margin-bottom: 5%;
}

.expand-details {
  background-color: #eee;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 3%;
  justify-content: center;
  object-fit: contain;
  width: 100%;
}

.expand-details img {
  height: 50%;
  object-fit: contain;
  margin: auto;
}

.event-right-details {
  /* right (now bottom) side with date, time, location */
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  font-size: 3vw;
  height: 0;
  justify-content: space-around;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: height .5s;
  width: 100%;
}

.event-right-details.expand {
  height: 40vw;
}

.event-time-location {
  margin: 3% 5%;
}

.event-display-options {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-around;
  width: 40%;
}

.event-display-options br {
  display: none;
}

.save-event, .go-back {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 30%;
  justify-content: center;
  width: 80%;
}

.save-event {
  background-color: #ffd966;
}

.go-back {
  background-color: white;
}

.share-wrapper{
  /* used in mobile style only */
  display: flex;
  flex-flow: row nowrap;
  height: 15%;
  justify-content: space-between;
  margin: 0;
  text-align: left;
  width: 80%;
}

.share-wrapper h3 {
  display: inline;
  font-size: 3vw;
  margin: 0 5%;
}

.share-container {
  align-items: right;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
}

.share-container a {
  cursor: pointer;
  height: 4vw;
  width: 4.5vw;
}

.share-container img {
  height: 100%;
  object-fit: contain;
}

/* Footer */
.footer {
  color: #aaa;
  margin-top: 10vw;
  text-align: center;
}

.footer a {
  color: #aaa;
}

.footer p {
  margin: 0 0 3% 0;
  padding: 0;
}

/* survey page */

.survey-background {
  align-items: center;
  background-color: #ffd966;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  min-height: 84%;
}

#survey-header {
  margin-top: 10%;
  text-align: center;
}

.survey-select-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.survey-item {
  margin: 1%;
  width: 100%;
}

.survey-label {
  font-size: 2vw;
  margin: 5%;
}

.survey-question {
  font-size: 2.5vw;
  margin: 3vw;
  text-align: center;
}

.survey-select{
  background-color: transparent;
  border: .5vw white solid;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 3vw;
  margin: 1vw;
  width: 3vw;
}

#survey-save {
  align-self: center;
  cursor: pointer;
  margin: 3vw;
  margin-bottom: 5vw;
  object-fit: contain;
  width: 30vw;
}


/* tags and tag colors */

.tag {
  color: white;
  font-weight: bold;
  border-radius: 1vw;
  margin: .5vw;
  padding: 1vw 2vw;
}

.tag.invert {
  border: .5vw;
  border-style: solid;
  border-radius: 1vw;
  margin: .5vw;
  padding: 1vw 2vw;
}

.blm {
  background-color: black;
}

.environment {
  background-color: #93c47d;
}

.volunteer {
  background-color: #ffb742;
}

.education {
  background-color: #6e9eeb;
}

.rainbow {
  background-color: #fdfdfd;
  color: black;
}

.blm-text {
  color: black;
}

.environment-text {
  color: #93c47d;
}

.volunteer-text {
  color: #ffb742;
}

.education-text {
  color: #6e9eeb;
}

.blm.invert {
  background-color: white;
  border-color: black;
  color: black;
}

.environment.invert {
  background-color: white;
  color: #93c47d;
}

.volunteer.invert {
  background-color: white;
  color: #ffb742;
}

.education.invert {
  background-color: white;
  color: #6e9eeb;
}

.rainbow.invert {
  color: black;
}
