@font-face {
  font-family: Google;
  src: url(font/ProductSans-Regular.woff);
}

body {
  font: 100%/1.6 "Google", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  max-width: 700px;
  height: 100px;
  overflow: hidden;
}

.header-left img {
  height: 150px;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  max-width: 300px;
  height: 100px;
  margin-left: 10%;
}

h1 {
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.page-content {
  background-color: rgb(255, 217, 102);
  min-height: 100%;
  min-width: 100%;
}

.search-container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.search-container input[type=text] {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  height: 25px;
  margin-top: 8px;
  outline: none;
  padding: 6px;
  padding-left: 15px;
  width: 600px;
}

.search-container button {
  background: rgb(245, 245, 245);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  font-size: 18px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  padding: 6px 10px;
}

.search-container button:hover {
  background: #ccc;
}
